.ReAuth.cfg
.asm
.curseclient
LOTR/
TCNodeTracker/
XaeroWaypoints/
XaeroWaypoints_BACKUP*/
asm/
crash-reports/
knownkeys.txt
localconfig.cfg
logs/
minecraftinstance.json
minetweaker.log
neiRecipeHandlers/
options.txt
resourcepacks/
saves/
screenshots/
usernamecache.json
